#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  border: 1px solid whitesmoke;
  width: 80%;
  border-radius: 6px;

  margin-top: 30px;
}

h2 {
  display: flex;
  gap: 10px;
}

button{
  cursor: pointer;
}

ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


